<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Staff</title>
</head>
<body>
<h2>Edit Staff Information</h2>

<form th:action="@{/Staff/edit/{id}(id=${staff.id})}" th:object="${staff}" method="post">
  <input type="hidden" th:field="*{id}"/>

  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required/>
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

  <label for="lastname">LastName:</label>
  <input type="text" id="lastname" th:field="*{lastName}" required/>
  <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>


  <label for="email">Email:</label>
  <input type="email" id="email" th:field="*{email}" required/>
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>


  <label for="role">Role:</label>
  <input type="text" id="role" th:field="*{role}" required/>
  <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error"></span>


  <button type="submit">Save Changes</button>
</form>

<a th:href="@{/Staff}">Back to Staff List</a>
</body>
</html>