<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/login.css" />

        <meta charset="ISO-8859-1">
        <title>Login</title>
    </head>
    <body>

    <div class = "login-container">
        <div class="login-form-container" style="width: 400px">


            <h2 class="login-title">BipSync</h2>

            <div th:if="${param.error}" class="error-container" >
                <div class="alert alert-danger">Username or password is Incorrect</div>
            </div>

            <div th:if="${param.logout}" class="error-container" >
                <div class="alert alert-danger">Logged out</div>
            </div>

            <form method="post"  role="login-form"  th:action="@{/login}"  th:object="${user}">

                <div class="mb-3 p-2">
                    <label for="username" class="form-label">Username</label>
                    <input th:field="*{username}"  class="form-control" aria-describedby="emailHelp" type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="mb-3 p-2">
                    <label for="password" class="form-label">Password</label>
                    <input th:field="*{password}"  class="form-control" type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>

                <div style="text-align: center;" class="mt-3">
                    <button type="" class="btn btn-danger">Login</button>
                </div>

                <a th:href="@{/forgotPassword}">Forgot Password</a>
            </form>

        </div>
    </div>

    </body>
</html>