.body-login{
    background-color: #2A2731;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form-container{
    background-color: #fff;
    padding: 30px;
    margin: 10px;
    width: 400px;
}
.login-title{
    text-align: center;
    font-weight: bold;
}

.login-btn{
    text-align: center;
    background-color: #F6653C;
}
.btn-for-login{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
.username-label{
    font-weight: bold;
}

.password-label{
    font-weight: bold;

}