<!doctype html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" href="/css/home.css" />
<style>
    #bg-wrapper{
        height: 350px;
        background-image: linear-gradient(#2A2731,#5D5D5D);
    }

    #txt-wrapper{
        height: 100%;
    }

    #company-name{
        color: white;
    }

</style>
<body>
<div id="containers">
    <div th:replace="~{fragments/header :: header}"/>
</div>

<h2 th:text="${userdetail.userFirstName}" class="dashboard__user-name">User's Name</h2>
<section id="bg-wrapper">
    <figure id="txt-wrapper" class="d-flex flex-column justify-content-center">
        <h1 id="company-name" class="text-center">BipSync <br> Onboarding</h1>
    </figure>
</section>
<section id="buttons">
    <button type="button">
        New Recruit
    </button>
    <button type="button">
        Current Staff
    </button>
</section>
<span sec:authorize="isAuthenticated"><a th:href="@{/logout}">Logout</a></span>
</body>
</html>