<!doctype html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>

    <link rel="stylesheet" href="/css/main.css">

<body>
    <div id="header">
        <div th:replace="~{fragments/header :: header}"/>
    </div>

    <div class="content" style="margin-left: 250px;">
        <h1>Task Checklist</h1>
        <p>Tasks to be completed in chronological order.</p>
        <br>
        <h3>Overdue</h3>
        <table class="table table-striped">
            <thead>
                <th scope="col">Task Name</th>
                <th scope="col">Task Due Date</th>
                <th scope="col">Responsibility</th>
                </tr>
            </thead>
            <tbody>
<!--            <tr th:each="task, rowStat : ${employee.tasksOrderByDueDate}">-->
<!--                <td th:id="'subject-' + ${task.taskId}" th:class="${#sets.contains(employee.completedTasks, task.taskId) ? 'complete' : ''}" th:text="${task.taskName}"></td>-->
<!--                <td th:text="${task.taskDueDate}"></td>-->
<!--                <td th:text="${task.taskResponsibility}"></td>-->
<!--                <td>-->
<!--                    <form th:action="@{'/employee/' + ${employee.recruitId} + '/email/' + ${task.taskId}}" method="post">-->
<!--                        <button type="submit">Send Email Reminder</button>-->
<!--                    </form></td>-->
<!--                <td>-->
<!--                    <form th:action="@{'/employee/' + ${employee.recruitId} + '/remove-task/' + ${task.taskId}}" method="post">-->

<!--                        <button type="submit" class="btn-complete">Mark as Complete</button>-->
<!--                    </form>-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <td>Sign Contract</td>
                <td class="overdue">01/01/2020</td>
                <td>Recruitment</td>
                <td>
                    <button type="submit" class="btn btn-info">Send Email Reminder</button>
                <td>
                    <button type="submit" class="btn btn-success">Mark as Complete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <br>
        <h3>To be completed</h3>
        <table class="table table-striped">
            <thead>
            <th scope="col">Task Name</th>
            <th scope="col">Task Due Date</th>
            <th scope="col">Responsibility</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Send Laptop</td>
                <td>01/01/2020</td>
                <td>IT Department</td>
                <td>
                    <button type="submit" class="btn btn-info">Send Email Reminder</button>
                <td>
                    <button type="submit" class="btn btn-success">Mark as Complete</button>
                </td>
            </tr>
            <tr>
                <td>Sign Contract</td>
                <td>01/01/2020</td>
                <td>Recruitment</td>
                <td>
                    <button type="submit" class="btn btn-info">Send Email Reminder</button>
                <td>
                    <button type="submit" class="btn btn-success">Mark as Complete</button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>

    <div th:replace="~{fragments/header :: scripts}" ></div>
</body>
</html>