<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>New Recruit Form</title>
      <link th:replace="~{fragments/header :: bootstrap-css}"/>
  </head>
  <body>

    <div id="containers">

      <div th:replace="~{fragments/header :: header}"/>

    </div>
    <div class="container">
      <form action="/newRecruit" method="post">

        <div class="form-group">
          <label for="nrFirstName">First Name</label>
          <input type="email" class="form-control" id="nrFirstName" placeholder="John">
        </div>

        <div class="form-group">
          <label for="nrLastName">Last Name</label>
          <input type="email" class="form-control" id="nrLastName" placeholder="Doe">
        </div>

        <div class="form-group">
          <label for="nrDateOfBirth">Date of Birth</label>
          <input type="email" class="form-control" id="nrDateOfBirth" placeholder="01/01/2000">
        </div>

        <div class="form-group">
          <label for="nrEmail">Email</label>
          <input type="email" class="form-control" id="nrEmail" placeholder="example@email.com">
        </div>

        <div class="form-group">
          <label for="nrPhoneNumber">Phone Number</label>
          <input type="email" class="form-control" id="nrPhoneNumber" placeholder="01234567891">
        </div>

        <div class="form-group">
          <label for="nrPassportNumber">Passport Number</label>
          <input type="email" class="form-control" id="nrPassportNumber" placeholder="123456789">
        </div>

        <div class="form-group">
          <label for="nrNationalInsurance">National Insurance Number</label>
          <input type="email" class="form-control" id="nrNationalInsurance" placeholder="QQ 123456 C">
        </div>

        <div class="form-group">
          <label for="nrDateOfHire">Date of Hire</label>
          <input type="email" class="form-control" id="nrDateOfHire" placeholder="01/01/2020">
        </div>

        <div class="form-group">
          <label for="nrPosition">Recruit Position</label>
          <input type="email" class="form-control" id="nrPosition" placeholder="Software Engineer">
        </div>

        <div class="form-group">
          <label for="nrEmergencyName">Emergency Contact First Name</label>
          <input type="email" class="form-control" id="nrEmergencyName" placeholder="Joe">
        </div>

        <div class="form-group">
          <label for="nrEmergencyNumber">Emergency Contact Phone Number</label>
          <input type="email" class="form-control" id="nrEmergencyNumber" placeholder="0123456789">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>

  <div class="container">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
        <tbody>
          <tr th:each="newRecruit : ${newRecruit}">
            <td th:text="${newRecruit.firstName}"></td>
          </tr>
        </tbody>
      </table>
  </div>
  </body>
</html>