<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Recruit Details</title>
  <link th:replace="~{fragments/header :: bootstrap-css}"/>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="header">
    <div th:replace="~{fragments/header :: header}"/>
  </div>

  <div  th:each="employee : ${employees}"class="card  mx-auto" style="width: 20rem;">
    <div class="card-body">
      <h5 th:text="${employee.firstName}+ 's' + ' ' + 'Details'"  class="card-title"></h5>
      <ul class="list-group list-group-flush">
        <li th:text="${'First Name: ' + employee.firstName}"class="list-group-item"></li>
        <li th:text="${'Last Name: ' + employee.lastName}" class="list-group-item"></li>
        <li th:text="${'Date of Birth: ' + employee.dateOfBirth}" class="list-group-item"></li>
        <li th:text="${'Position: ' + employee.position}" class="list-group-item"></li>
        <li th:text="${'Email: ' +  employee.email}" class="list-group-item"></li>
        <li th:text="${'Phone Number: ' + employee.phoneNumber}" class="list-group-item"></li>
        <li th:text="${'NI Number: ' +  employee.nationalInsuranceNumber}" class="list-group-item"></li>
        <li th:text="${'Date of Hire: ' + employee.dateOfHire}" class="list-group-item"></li>
        <li th:text="${'Emergency Contact: ' + employee.emergencyContactName}" class="list-group-item"></li>
        <li th:text="${'Emergency Contact Number: ' + employee.emergencyContactPhoneNumber}" class="list-group-item"></li>
      </ul>
    </div>
    <button class="btn btn-info">Edit Details</button>
  </div>
  <div th:replace="fragments/header :: scripts"></div>
</body>
</html>